h1 {
    color: rgb(89, 240, 29); 
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 250%;
  }
  h2, h3 { 
    color: rgb(233, 60, 60);
    font-family: Arial, Helvetica, sans-serif;   
    font-weight: lighter;
  }
  body { 
    margin: 2em; 
  }
  body, input[text], button { 
    color: rgb(201, 183, 183); 
    font-family: Cambria, Georgia; 
  }
  a {
    cursor: pointer;
    cursor: hand;
  }
  button {
    font-family: Arial;
    background-color: rgb(180, 32, 118);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #f10707;
  }
  button:disabled {
    background-color: rgb(9, 143, 231);
    color: rgb(235, 110, 110); 
    cursor: auto;
  }
  
  /* Navigation link styles */
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: rgb(23, 69, 100);
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: rgb(130, 168, 41);
  }
  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }
  nav a.active {
    color: #039be5;
  }
  
  /
